[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/benjc/Desktop/05 - Harry Potter and the Order of the Phoenix]
row=0
col=1

[0e7eabf2-3779-436d-ba0d-390f2612e002]
row=0
col=0

[86d96200-72df-4f00-8af9-6eab6f49a359]
row=1
col=0

[/]
row=2
col=0

[/home/benjc]
row=3
col=0

